@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    background-color: #e4ecf1;
}

* {
    min-width: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    @apply max-w-[1200px] min-w-[600px] px-2;
}